<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!--    namespace对应Mapper接口名                -->
<mapper namespace="exercise1.mapper.OperatorMapper">
<!-- 	    id对应Mapper方法名 -->
	<select id="findAll" resultType="exercise1.Operator">
<!-- 		结果列名对应pojo属性名不区分大小写 -->
		select ID, USERNAME, ROLE, DISABLED from OPERATORS
	</select>
	
	<select id="findByUsernameLike" resultType="exercise1.Operator">
		<bind name="usernamePattern" value="'%' + username + '%'"></bind>
		select ID, USERNAME, ROLE, DISABLED from OPERATORS 
		where USERNAME like #{usernamePattern}
	</select>
	
	<update id="batchDisable">
		update OPERATORS set DISABLED = #{disabled} where ID in 
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
</mapper>